<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            <div>
                <a [routerLink]="['category']">Category</a>
            </div>
            <div>
                <a [routerLink]="['product']">Product</a>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-1">
            Logout
        </div>
    </div>

</div>
