<div class="container login">
  <div class="title text-center">
    <h1>LOGIN MONKEY JUNIOR</h1>
  </div>
  <div class="col-md-6 offset-3">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" formControlName="email" required
               [ngClass]="{ 'is-invalid': submitted && validate.email.errors }">
        <div *ngIf="validate.email.errors" class="invalid-feedback">
          <div *ngIf="validate.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password"
               formControlName="password" required [ngClass]="{ 'is-invalid': submitted && validate.password.errors }">
        <div *ngIf="validate.password.errors" class="invalid-feedback">
          <div *ngIf="validate.password.errors.required">Password is required</div>
          <div *ngIf="validate.password.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary submit">LOGIN</button>
      </div>
    </form>
  </div>
</div>
